# Compiled class file
*.class

# Log file
*.log

# Eclipse
.project
.classpath
.settings/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
/target/

# AWS
cloud-formation-deploy.yaml